//Total carrito

.carrito-total {
  border: solid 1px $gray-lighter;
  border-radius: 3px;
  padding: 1.2rem 0rem;
  background: white;
  height: 100%;
  h5 {
    margin: 0;
    padding: 0 1.2rem;
    font-size: 2rem;
  }
  .cuenta {
    width: 100%;
    td {
      border-bottom: 1px solid $gray-lighter;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem 1.2rem;
      color: $gray;
      line-height: 1.2;
      vertical-align: top;
      &:first-child {
        font-size: 1.1rem;
      }
      &.text-right {
        text-align: right;
      }
    }
    .td-total {
      background: $lila-lighter;
      td {
        padding: 1rem 1.2rem;
        color: $text-color;
        font-size: 1.5rem;
      }
    }
  }
  .next {
    margin: 1rem 1.2rem 0;
    display: flex;
    align-items: center;
    .btn {
      width: 100%;
    }
  }
  .carrito-finalizar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  .carrito-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 575px;
  }
  .carrito-cards {
  }
}
