.nav-bar {
  background-color: $primary;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.nav-menu {
  background: white;
  justify-content: start;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.3s ease;
  border-right: 1px solid #ccc;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.nav-menu__items {
  height: auto;
}
.menu__item {
  display: block;
  text-align: left;
}
.menu__link {
  font-size: 1rem;
  height: auto;
  padding: 16px;
  line-height: 1.2;
  display: block;
}
.nav-menu.active {
  left: 0%;
  transition: 350ms;
}
.menu-bars {
  font-size: 2rem;
  background: none;
}
.nav-menu__icon-close {
  display: flex;
  justify-content: center;
  height: 97px;
  background: $primary;
  width: 80px;
  margin-bottom: 13px;
}
.nav-menu__icon {
  color: white;
}
.nav-bar__icon-open {
  display: flex;
  justify-content: center;
  background: white;
  height: 97px;
  width: 80px;
}
.menu__redes {
  display: flex;
  height: 50px;
}
.menu__redes__link {
  display: flex;
  height: 50px;
}
.menu__redes__icono {
  height: 60%;
  width: 60%;
  color: $text-color;
}

@media screen and (min-width: 960px) {
  .menu {
    display: flex;
  }
}
